@font-face {
  font-family: 'iconfont';  /* project id 562915 */
  src: url('https://at.alicdn.com/t/font_562915_x7299zj3jal9pb9.eot');
  src: url('https://at.alicdn.com/t/font_562915_x7299zj3jal9pb9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_562915_x7299zj3jal9pb9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_562915_x7299zj3jal9pb9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_562915_x7299zj3jal9pb9.svg#iconfont') format('svg');
}
body{
	font-size: 12px;
	background-color: #f5f5f5;
}
#fenlei{
	width: 100vw;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
#search{
	width: 100%;
	height: 1.34rem;
	background-color: #fff;
	padding: 0 0.32rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.sousuo{
	font-family: 'iconfont';
	width: 8.40rem;
	height: 0.8rem;
	background-color: #e6e6e6;
	border: 0;
	border-radius: 0.2rem;
	padding-left: 0.48rem;
	outline: none;
}
#search h1{
	font-family: 'iconfont';
	font-size: 0.6rem;
}
#content{
	width: 100%;
	height: 17.71rem;
	background-color: #fff;
}
.content_left{
	width: 3.12rem;
	height: 100%;
	border-right: 0.01rem solid #dedede;
	padding-top: 1.8rem;
	float: left;
}
.weinituijian{
	width: 2.65rem;
	height: 0.83rem;
	background-color: #333;
	border-radius: 20px;
	margin-left: 0.22rem;
	text-align: center;
	line-height: 0.83rem;
	font-size: 0.38rem;
	color: #fff;
}
.tuijian_wenzi{
	width: 2.65rem;
	height: 0.75rem;
	margin-left: 0.22rem;
	text-align: center;
	line-height: 0.75rem;
}
.tuijian_wenzi h1{
	font-size: 0.38rem;
	margin-top: 0.6rem;
}
.content_right{
	width: 7.68rem;
	height: 100%;
	float: left;
	padding-top: 1.8rem;
}
.remen{
	width: 100%;
	height: 0.83rem;	
}
.remen h1{
	float: left;
	margin-left: 0.31rem;
	line-height: 0.83rem;
	font-size: 0.38rem;
}
.remen h2{
	font-size: 0.37rem;
	margin-right: 0.3rem;
	float: right;
	color: #e47f8d;
	line-height: 0.83rem;
}
.remen h3{
	font-size: 0.37rem;
	margin-right: 0.05rem;
	float: right;
	color: #e47f8d;
	line-height: 0.83rem;
}
.remen_neirong{
	height: 7.32rem;
	width: 7.2rem;
	margin: 0 auto;
	border-bottom: 0.01rem solid #dedede;
}
.remen_neirong_item{
	width: 2.4rem;
	height: 3.65rem;
	background-color: #fff;
	float: left;
}
.remen_neirong_item img{
	width: 2.4rem;
	height: 2.4rem;
	margin-top: 0.2rem;
}
.remen_neirong_item h1{
	font-size: 0.33rem;
	font-weight: normal;
	text-align: center;
	margin-top: 0.4rem;
}
.pinpai{
	width: 100%;
	height: 0.82rem;
	margin-top: 0.3rem;
}
.pinpai h1{
	float: left;
	margin-left: 0.31rem;
	line-height: 0.83rem;
	font-size: 0.38rem;
}
.pinpai_item{
	width: 2.16rem;
	height: 2.9rem;
	background-color: #fff;
	margin-left: 0.29rem;
	float: left;
	margin-top: 0.3rem;
}
.pinpai_tu{
	width: 2.16rem;
	height: 2.25rem;
	border: 0.01rem solid #dedede;
	float: left;
}
.pinpai_item h1{
	font-size: 0.34rem;
	text-align: center;
	font-weight: normal;
	line-height: 0.69rem;
}
.wode_dubu{
	width: 100%;
	height: 1.49rem;
	background-color: #fff;
	border-top: 0.01rem solid #d3d3d3;
}
.wode_dubu_item{
	width: 1.5rem;
	height: 1.49rem;
	margin-left: 0.54rem;
	float: left;
	text-align: center;
}
.wode_dubu_item h1{
	font-family: 'iconfont';
	font-size: 0.65rem;
	margin-top: 0.23rem;
	color: #504f4f;
}
.wode_dubu_item h2{
	font-size: 0.3rem;
}
.wode_dubu_item1 h1{
	color: #c8061e;
}
.wode_dubu_item h1:hover{
	color: #c8061e;
}
.wode_dubu a{
	color: black;
}